<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="server=52.91.45.143;user id=robo;password=kestraa12#;persistsecurityinfo=True;database=robo" providerName="MySql.Data.MySqlClient" />
  <add name="roboEntities" connectionString="metadata=res://*/DAL.Model.csdl|res://*/DAL.Model.ssdl|res://*/DAL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.227.106.163;persist security info=True;user id=robo;password=Kestraa12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PATH_ROOT" value="C:\AutoEcac\Arquivos" />
    <add key="URL_DARF_LOGIN" value="https://cav.receita.fazenda.gov.br/autenticacao/login" />
    <add key="URL_EXTRATO_LOGIN" value="https://www1.siscomex.receita.fazenda.gov.br/siscomexImpweb-7/login_cert.jsp" />
    <add key="URL_EXTRATO_DECLARACAO_DI" value="https://www1c.siscomex.receita.fazenda.gov.br/importacaoweb-7/ConsultarDIMenu.do" />
    <add key="URL_EXTRATO_DECLARACAO_LI" value="https://www1c.siscomex.receita.fazenda.gov.br/li_web-7/liweb_menu_consultar_filtro_li.do" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
</configuration>